<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
	<title>Dashcore - Premium Software & Startup HTML</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- Place ../favicon.ico in the root directory -->
	<link rel="apple-touch-icon" href="../apple-touch-icon.png">
	<link rel="icon" href="../favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
	<!-- themeforest:css -->
	<link rel="stylesheet" href="../css/aos.css">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/cookieconsent.min.css">
	<link rel="stylesheet" href="../css/fontawesome-all.css">
	<link rel="stylesheet" href="../css/helper.css">
	<link rel="stylesheet" href="../css/magnific-popup.css">
	<link rel="stylesheet" href="../css/odometer-theme-minimal.css">
	<link rel="stylesheet" href="../css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="../css/prettify.css">
	<link rel="stylesheet" href="../css/simplebar.css">
	<link rel="stylesheet" href="../css/smart_wizard.css">
	<link rel="stylesheet" href="../css/smart_wizard_theme_arrows.css">
	<link rel="stylesheet" href="../css/smart_wizard_theme_circles.css">
	<link rel="stylesheet" href="../css/smart_wizard_theme_dots.css">
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="../css/swiper.css">
	<!-- endinject -->
</head>

<body>
	<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<nav class="navbar navbar-expand-md main-nav navigation fixed-top sidebar-left">
		<div class="container">
			<button class="navbar-toggler" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#main" class="navbar-brand">
				<img src="../img/logo.png" alt="Dashcore" class="logo logo-sticky d-block d-md-none">
			</a>
			<div class="collapse navbar-collapse ml-auto" id="main-navbar">
				<div class="sidebar-brand">
					<a href="#main">
						<img src="../img/logo.png" alt="Dashcore Template" class="logo">
					</a>
				</div>
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link scrollto" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Pages</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-3 b-md-r">
										<a class="dropdown-item text-wrap" target="_blank" href="../about.html">
											<p class="bold my-0">About</p>
											<p class="my-0 small"></p>
										</a>
										<a class="dropdown-item text-wrap" target="_blank" href="../contact.html">
											<p class="bold my-0">Contact</p>
										</a>
										<a class="dropdown-item text-wrap" target="_blank" href="../pricing.html">
											<p class="bold my-0">Pricing</p>
										</a>
									</div>
									<div class="col-md-9">
										<div class="text-md-center">
											<h3 class="color-5 mt-4 mt-md-0 light">
												<span class="bold regular">Useful pages</span> you'll need</h3>
											<p class="color-2 mt-0">Get a complete design stack with the following pages design</p>
										</div>
										<div class="row gap-y">
											<div class="col-md-4">
												<p class="dropdown-heading bold text-uppercase">Error</p>
												<a class="dropdown-item" target="_blank" href="../403.html">403 Error</a>
												<a class="dropdown-item" target="_blank" href="../404.html">404 Error</a>
												<a class="dropdown-item" target="_blank" href="../405.html">405 Error</a>
											</div>
											<div class="col-md-4">
												<p class="dropdown-heading bold text-uppercase">User</p>
												<a class="dropdown-item" target="_blank" href="../login.html">Login</a>
												<a class="dropdown-item" target="_blank" href="../register.html">Register</a>
												<a class="dropdown-item" target="_blank" href="../forgot.html">Forgot</a>
											</div>
											<div class="col-md-4">
												<p class="dropdown-heading bold text-uppercase">Extra</p>
												<a class="dropdown-item" target="_blank" href="../pricing.html">Pricing</a>
												<a class="dropdown-item" target="_blank" href="../terms.html">Terms</a>
												<a class="dropdown-item" target="_blank" href="../faqs.html">FAQ</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown mega">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Blocks</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4 b-md-r">
										<a class="dropdown-item" target="_blank" href="../blocks/call-to-action.html">Call to actions</a>
										<a class="dropdown-item" target="_blank" href="../blocks/contact.html">Contact</a>
										<a class="dropdown-item" target="_blank" href="../blocks/counter.html">Counters</a>
										<span class="dropdown-item d-flex align-items-center op-4" data-target="_blank" data-href="../blocks/divider.html">Dividers
											<i class="fas fa-ban ml-auto"></i>
										</span>
										<a class="dropdown-item" target="_blank" href="../blocks/faqs.html">FAQs</a>
									</div>
									<div class="col-md-4 b-md-r">
										<a class="dropdown-item" target="_blank" href="../blocks/footer.html">Footers</a>
										<a class="dropdown-item" target="_blank" href="../blocks/form.html">Forms</a>
										<span class="dropdown-item d-flex align-items-center op-4" data-target="_blank" data-href="../blocks/gallery.html">Gallery
											<i class="fas fa-ban ml-auto"></i>
										</span>
										<a class="dropdown-item" target="_blank" href="../blocks/navbar.html">Navbar</a>
										<a class="dropdown-item" target="_blank" href="../blocks/navigation.html">Navigation</a>
									</div>
									<div class="col-md-4">
										<a class="dropdown-item" target="_blank" href="../blocks/pricing.html">Pricing</a>
										<span class="dropdown-item d-flex align-items-center op-4" data-target="_blank" data-href="../blocks/screenshot.html">Screenshots
											<i class="fas fa-ban ml-auto"></i>
										</span>
										<a class="dropdown-item" target="_blank" href="../blocks/slider.html">Sliders</a>
										<a class="dropdown-item" target="_blank" href="../blocks/team.html">Team</a>
										<a class="dropdown-item" target="_blank" href="../blocks/testimonial.html">Testimonials</a>
									</div>
								</div>
							</div>
							<!-- <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <a class="dropdown-item" target="_blank" href="../blocks/feature-textual.html">Textual features</a>
                            </div>
                            <div class="col-md-6">
                                <a class="dropdown-item" target="_blank" href="../blocks/feature-descriptive.html">Descriptive features</a>
                            </div>
                        </div> -->
						</div>
					</li>
					<li class="nav-item dropdown mega">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">UI Components</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4 b-md-r">
										<a class="dropdown-item" target="_blank" href="accordion.html">Accordion</a>
										<a class="dropdown-item" target="_blank" href="alert.html">Alerts</a>
										<a class="dropdown-item" target="_blank" href="badge.html">Badges</a>
										<a class="dropdown-item" target="_blank" href="button.html">Buttons</a>
										<a class="dropdown-item" target="_blank" href="color.html">Colors</a>
									</div>
									<div class="col-md-4 b-md-r">
										<a class="dropdown-item" target="_blank" href="cookie-law.html">CookieLaw
											<span class="badge badge-pill badge-3">New</span>
										</a>
										<a class="dropdown-item" target="_blank" href="overlay.html">Overlay</a>
										<a class="dropdown-item" target="_blank" href="progress.html">Progress</a>
										<span class="dropdown-item d-flex align-items-center op-4" data-target="_blank" data-href="../blocks/process.html">Process
											<i class="fas fa-ban ml-auto"></i>
										</span>
										<a class="dropdown-item" target="_blank" href="lightbox.html">Lightbox</a>
									</div>
									<div class="col-md-4">
										<a class="dropdown-item" target="_blank" href="tab.html">Tabs</a>
										<a class="dropdown-item" target="_blank" href="tables.html">Tables</a>
										<span class="dropdown-item d-flex align-items-center op-4" data-target="_blank" data-href="../blocks/timeline.html">Timeline
											<i class="fas fa-ban ml-auto"></i>
										</span>
										<a class="dropdown-item" target="_blank" href="typography.html">Typography</a>
										<a class="dropdown-item" target="_blank" href="wizard.html">Wizard</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown mega">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Blog</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="container-fluid">
								<div class="row gap-y">
									<div class="col-md-4 b-md-r">
										<p class="dropdown-heading bold text-uppercase">Full width</p>
										<a class="dropdown-item" target="_blank" href="../blog/blog-post.html">Single post</a>
										<a class="dropdown-item" target="_blank" href="../blog/blog-grid.html">Posts Grid</a>
									</div>
									<div class="col-md-4 b-md-r">
										<p class="dropdown-heading bold text-uppercase">Sidebar left</p>
										<a class="dropdown-item" target="_blank" href="../blog/blog-post-sidebar-left.html">Single post</a>
										<a class="dropdown-item" target="_blank" href="../blog/blog-grid-sidebar-left.html">Posts Grid</a>
									</div>
									<div class="col-md-4">
										<p class="dropdown-heading bold text-uppercase">Sidebar right</p>
										<a class="dropdown-item" target="_blank" href="../blog/blog-post-sidebar-right.html">Single post</a>
										<a class="dropdown-item" target="_blank" href="../blog/blog-grid-sidebar-right.html">Posts Grid</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main>
		<header class="page header color-1 overlay gradient gradient-43 alpha-8 image-background cover" style="background-image: url('../img/bg/waves.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="display-4 color-1 mb-4">Colors</h1>
						<p class="lead color-1">Convey meaning through color with a handful of color utility classes. Includes support for styling links with hover states, too.</p>
					</div>
				</div>
			</div>
		</header>
		<section class="section b-b">
			<div class="container">
				<div class="section-heading">
					<h2 id="examples">Text color</h2>
				</div>
				<p class="b-b pb-2 mb-5 color-2">Bootstrap default</p>
				<div class="row gap-y">
					<div class="col-6 col-md-3">
						<p class="text-primary bg- p-3">.text-primary</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-secondary bg- p-3">.text-secondary</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-success bg- p-3">.text-success</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-danger bg- p-3">.text-danger</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-warning bg- p-3">.text-warning</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-info bg- p-3">.text-info</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-light bg-dark p-3">.text-light</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-dark bg- p-3">.text-dark</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-body bg- p-3">.text-body</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-muted bg- p-3">.text-muted</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-white bg-dark p-3">.text-white</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-black-50 bg- p-3">.text-black-50</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="text-white-50 bg-dark p-3">.text-white-50</p>
					</div>
				</div>
				<p class="b-b pb-2 my-5 color-2">Dashcore color scheme</p>
				<div class="row gap-y">
					<div class="col-6 col-md-3">
						<p class="color-1 bg-5 p-3">.color-1</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="color-2 bg-1 p-3">.color-2</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="color-3 bg-1 p-3">.color-3</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="color-4 bg-1 p-3">.color-4</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="color-5 bg-1 p-3">.color-5</p>
					</div>
					<div class="col-6 col-md-3">
						<p class="color-6 bg-5 p-3">.color-6</p>
					</div>
				</div>
			</div>
		</section>
		<section class="section b-b">
			<div class="container">
				<div class="section-heading">
					<h2 id="examples">Background color</h2>
					<p class="lead">Easily set the background of an element to any contextual class. Anchor components will darken on hover, just like the text classes. Background utilities
						<span class="bold">do not set</span> <code>color</code>, so in some cases you’ll want to use <code>.text-*</code> utilities.</p>
				</div>
				<p class="b-b pb-2 mb-5 color-2">Bootstrap default</p>
				<div class="row gap-y">
					<div class="col-6 col-lg-4">
						<div class="bg-primary text-white lead p-4">.bg-primary</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-secondary text-white lead p-4">.bg-secondary</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-success text-white lead p-4">.bg-success</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-danger text-white lead p-4">.bg-danger</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-warning text-white lead p-4">.bg-warning</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-info text-white lead p-4">.bg-info</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-light text-dark lead p-4">.bg-light</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-dark text-white lead p-4">.bg-dark</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-white text-dark lead p-4">.bg-white</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-transparent text-dark lead p-4">.bg-transparent</div>
					</div>
				</div>
				<p class="b-b pb-2 my-5 color-2">Dashcore color scheme</p>
				<div class="row gap-y">
					<div class="col-6 col-lg-4">
						<div class="bg-1 color-5 lead p-4">.bg-1</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-2 color-1 lead p-4">.bg-2</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-3 color-1 lead p-4">.bg-3</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-4 color-1 lead p-4">.bg-4</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-5 color-1 lead p-4">.bg-5</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="bg-6 color-5 lead p-4">.bg-6</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section b-b" id="colors-gradient">
			<div class="container">
				<div class="section-heading">
					<h2 id="examples">Gradients</h2>
					<p class="lead">You can opt to use gradients background by adding <code>.gradient</code> to any element.</p>
				</div>
				<div class="row gap-y">
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-12 color-1 lead p-4">.gradient-12</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-13 color-1 lead p-4">.gradient-13</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-14 color-1 lead p-4">.gradient-14</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-15 color-1 lead p-4">.gradient-15</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-16 color-5 lead p-4">.gradient-16</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-21 color-1 lead p-4">.gradient-21</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-23 color-1 lead p-4">.gradient-23</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-24 color-1 lead p-4">.gradient-24</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-25 color-1 lead p-4">.gradient-25</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-26 color-1 lead p-4">.gradient-26</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-31 color-1 lead p-4">.gradient-31</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-32 color-1 lead p-4">.gradient-32</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-34 color-1 lead p-4">.gradient-34</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-35 color-1 lead p-4">.gradient-35</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-36 color-1 lead p-4">.gradient-36</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-41 color-1 lead p-4">.gradient-41</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-42 color-1 lead p-4">.gradient-42</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-43 color-1 lead p-4">.gradient-43</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-45 color-1 lead p-4">.gradient-45</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-46 color-1 lead p-4">.gradient-46</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-51 color-1 lead p-4">.gradient-51</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-52 color-1 lead p-4">.gradient-52</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-53 color-1 lead p-4">.gradient-53</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-54 color-1 lead p-4">.gradient-54</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-56 color-1 lead p-4">.gradient-56</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-61 color-5 lead p-4">.gradient-61</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-62 color-1 lead p-4">.gradient-62</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-63 color-1 lead p-4">.gradient-63</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-64 color-1 lead p-4">.gradient-64</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="gradient gradient-65 color-1 lead p-4">.gradient-65</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section b-b">
			<div class="container">
				<div class="section-heading">
					<h2 id="examples">Alpha colors</h2>
				</div>
				<p class="b-b pb-2 my-5 color-2">Text color</p>
				<p class="bold small text-center">.color-1</p>
				<div class="d-flex flex-wrap justify-content-around">
					<p class="small color-1 bg-dark alpha-1 p-4">.alpha-1</p>
					<p class="small color-1 bg-dark alpha-2 p-4">.alpha-2</p>
					<p class="small color-1 bg-dark alpha-3 p-4">.alpha-3</p>
					<p class="small color-1 bg-dark alpha-4 p-4">.alpha-4</p>
					<p class="small color-1 bg-dark alpha-5 p-4">.alpha-5</p>
					<p class="small color-1 bg-dark alpha-6 p-4">.alpha-6</p>
					<p class="small color-1 bg-dark alpha-7 p-4">.alpha-7</p>
					<p class="small color-1 bg-dark alpha-8 p-4">.alpha-8</p>
					<p class="small color-1 bg-dark alpha-9 p-4">.alpha-9</p>
				</div>
				<p class="bold small text-center">.color-2</p>
				<div class="d-flex flex-wrap justify-content-around">
					<p class="small color-2 bg- alpha-1 p-4">.alpha-1</p>
					<p class="small color-2 bg- alpha-2 p-4">.alpha-2</p>
					<p class="small color-2 bg- alpha-3 p-4">.alpha-3</p>
					<p class="small color-2 bg- alpha-4 p-4">.alpha-4</p>
					<p class="small color-2 bg- alpha-5 p-4">.alpha-5</p>
					<p class="small color-2 bg- alpha-6 p-4">.alpha-6</p>
					<p class="small color-2 bg- alpha-7 p-4">.alpha-7</p>
					<p class="small color-2 bg- alpha-8 p-4">.alpha-8</p>
					<p class="small color-2 bg- alpha-9 p-4">.alpha-9</p>
				</div>
				<p class="bold small text-center">.color-3</p>
				<div class="d-flex flex-wrap justify-content-around">
					<p class="small color-3 bg- alpha-1 p-4">.alpha-1</p>
					<p class="small color-3 bg- alpha-2 p-4">.alpha-2</p>
					<p class="small color-3 bg- alpha-3 p-4">.alpha-3</p>
					<p class="small color-3 bg- alpha-4 p-4">.alpha-4</p>
					<p class="small color-3 bg- alpha-5 p-4">.alpha-5</p>
					<p class="small color-3 bg- alpha-6 p-4">.alpha-6</p>
					<p class="small color-3 bg- alpha-7 p-4">.alpha-7</p>
					<p class="small color-3 bg- alpha-8 p-4">.alpha-8</p>
					<p class="small color-3 bg- alpha-9 p-4">.alpha-9</p>
				</div>
				<p class="bold small text-center">.color-4</p>
				<div class="d-flex flex-wrap justify-content-around">
					<p class="small color-4 bg- alpha-1 p-4">.alpha-1</p>
					<p class="small color-4 bg- alpha-2 p-4">.alpha-2</p>
					<p class="small color-4 bg- alpha-3 p-4">.alpha-3</p>
					<p class="small color-4 bg- alpha-4 p-4">.alpha-4</p>
					<p class="small color-4 bg- alpha-5 p-4">.alpha-5</p>
					<p class="small color-4 bg- alpha-6 p-4">.alpha-6</p>
					<p class="small color-4 bg- alpha-7 p-4">.alpha-7</p>
					<p class="small color-4 bg- alpha-8 p-4">.alpha-8</p>
					<p class="small color-4 bg- alpha-9 p-4">.alpha-9</p>
				</div>
				<p class="bold small text-center">.color-5</p>
				<div class="d-flex flex-wrap justify-content-around">
					<p class="small color-5 bg- alpha-1 p-4">.alpha-1</p>
					<p class="small color-5 bg- alpha-2 p-4">.alpha-2</p>
					<p class="small color-5 bg- alpha-3 p-4">.alpha-3</p>
					<p class="small color-5 bg- alpha-4 p-4">.alpha-4</p>
					<p class="small color-5 bg- alpha-5 p-4">.alpha-5</p>
					<p class="small color-5 bg- alpha-6 p-4">.alpha-6</p>
					<p class="small color-5 bg- alpha-7 p-4">.alpha-7</p>
					<p class="small color-5 bg- alpha-8 p-4">.alpha-8</p>
					<p class="small color-5 bg- alpha-9 p-4">.alpha-9</p>
				</div>
				<p class="bold small text-center">.color-6</p>
				<div class="d-flex flex-wrap justify-content-around">
					<p class="small color-6 bg-dark alpha-1 p-4">.alpha-1</p>
					<p class="small color-6 bg-dark alpha-2 p-4">.alpha-2</p>
					<p class="small color-6 bg-dark alpha-3 p-4">.alpha-3</p>
					<p class="small color-6 bg-dark alpha-4 p-4">.alpha-4</p>
					<p class="small color-6 bg-dark alpha-5 p-4">.alpha-5</p>
					<p class="small color-6 bg-dark alpha-6 p-4">.alpha-6</p>
					<p class="small color-6 bg-dark alpha-7 p-4">.alpha-7</p>
					<p class="small color-6 bg-dark alpha-8 p-4">.alpha-8</p>
					<p class="small color-6 bg-dark alpha-9 p-4">.alpha-9</p>
				</div>
				<p class="b-b pb-2 my-5 color-2">Background color</p>
				<p class="bold small text-center">.bg-1</p>
				<div class="d-flex flex-wrap justify-content-around">
					<div class="small bg-1 color-5 alpha-1 p-4">.alpha-1</div>
					<div class="small bg-1 color-5 alpha-2 p-4">.alpha-2</div>
					<div class="small bg-1 color-5 alpha-3 p-4">.alpha-3</div>
					<div class="small bg-1 color-5 alpha-4 p-4">.alpha-4</div>
					<div class="small bg-1 color-5 alpha-5 p-4">.alpha-5</div>
					<div class="small bg-1 color-5 alpha-6 p-4">.alpha-6</div>
					<div class="small bg-1 color-5 alpha-7 p-4">.alpha-7</div>
					<div class="small bg-1 color-5 alpha-8 p-4">.alpha-8</div>
					<div class="small bg-1 color-5 alpha-9 p-4">.alpha-9</div>
				</div>
				<p class="bold small text-center">.bg-2</p>
				<div class="d-flex flex-wrap justify-content-around">
					<div class="small bg-2 color-1 alpha-1 p-4">.alpha-1</div>
					<div class="small bg-2 color-1 alpha-2 p-4">.alpha-2</div>
					<div class="small bg-2 color-1 alpha-3 p-4">.alpha-3</div>
					<div class="small bg-2 color-1 alpha-4 p-4">.alpha-4</div>
					<div class="small bg-2 color-1 alpha-5 p-4">.alpha-5</div>
					<div class="small bg-2 color-1 alpha-6 p-4">.alpha-6</div>
					<div class="small bg-2 color-1 alpha-7 p-4">.alpha-7</div>
					<div class="small bg-2 color-1 alpha-8 p-4">.alpha-8</div>
					<div class="small bg-2 color-1 alpha-9 p-4">.alpha-9</div>
				</div>
				<p class="bold small text-center">.bg-3</p>
				<div class="d-flex flex-wrap justify-content-around">
					<div class="small bg-3 color-1 alpha-1 p-4">.alpha-1</div>
					<div class="small bg-3 color-1 alpha-2 p-4">.alpha-2</div>
					<div class="small bg-3 color-1 alpha-3 p-4">.alpha-3</div>
					<div class="small bg-3 color-1 alpha-4 p-4">.alpha-4</div>
					<div class="small bg-3 color-1 alpha-5 p-4">.alpha-5</div>
					<div class="small bg-3 color-1 alpha-6 p-4">.alpha-6</div>
					<div class="small bg-3 color-1 alpha-7 p-4">.alpha-7</div>
					<div class="small bg-3 color-1 alpha-8 p-4">.alpha-8</div>
					<div class="small bg-3 color-1 alpha-9 p-4">.alpha-9</div>
				</div>
				<p class="bold small text-center">.bg-4</p>
				<div class="d-flex flex-wrap justify-content-around">
					<div class="small bg-4 color-1 alpha-1 p-4">.alpha-1</div>
					<div class="small bg-4 color-1 alpha-2 p-4">.alpha-2</div>
					<div class="small bg-4 color-1 alpha-3 p-4">.alpha-3</div>
					<div class="small bg-4 color-1 alpha-4 p-4">.alpha-4</div>
					<div class="small bg-4 color-1 alpha-5 p-4">.alpha-5</div>
					<div class="small bg-4 color-1 alpha-6 p-4">.alpha-6</div>
					<div class="small bg-4 color-1 alpha-7 p-4">.alpha-7</div>
					<div class="small bg-4 color-1 alpha-8 p-4">.alpha-8</div>
					<div class="small bg-4 color-1 alpha-9 p-4">.alpha-9</div>
				</div>
				<p class="bold small text-center">.bg-5</p>
				<div class="d-flex flex-wrap justify-content-around">
					<div class="small bg-5 color-1 alpha-1 p-4">.alpha-1</div>
					<div class="small bg-5 color-1 alpha-2 p-4">.alpha-2</div>
					<div class="small bg-5 color-1 alpha-3 p-4">.alpha-3</div>
					<div class="small bg-5 color-1 alpha-4 p-4">.alpha-4</div>
					<div class="small bg-5 color-1 alpha-5 p-4">.alpha-5</div>
					<div class="small bg-5 color-1 alpha-6 p-4">.alpha-6</div>
					<div class="small bg-5 color-1 alpha-7 p-4">.alpha-7</div>
					<div class="small bg-5 color-1 alpha-8 p-4">.alpha-8</div>
					<div class="small bg-5 color-1 alpha-9 p-4">.alpha-9</div>
				</div>
				<p class="bold small text-center">.bg-6</p>
				<div class="d-flex flex-wrap justify-content-around">
					<div class="small bg-6 color-5 alpha-1 p-4">.alpha-1</div>
					<div class="small bg-6 color-5 alpha-2 p-4">.alpha-2</div>
					<div class="small bg-6 color-5 alpha-3 p-4">.alpha-3</div>
					<div class="small bg-6 color-5 alpha-4 p-4">.alpha-4</div>
					<div class="small bg-6 color-5 alpha-5 p-4">.alpha-5</div>
					<div class="small bg-6 color-5 alpha-6 p-4">.alpha-6</div>
					<div class="small bg-6 color-5 alpha-7 p-4">.alpha-7</div>
					<div class="small bg-6 color-5 alpha-8 p-4">.alpha-8</div>
					<div class="small bg-6 color-5 alpha-9 p-4">.alpha-9</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="site-footer section text-center bg-6">
		<div class="divider-shape" style="top: -80px;">
			<!-- mountains -->
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" style="transform: translateX(-50%) rotate3d(1,0,0,180deg);height: 80px;">
				<path class="shape-fill shape-fill-6" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z" />
				<path class="shape-fill shape-fill-6" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z" />
				<path class="shape-fill shape-fill-6" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z" />
			</svg>
		</div>
		<div class="container py-5">
			<div class="row align-items-center">
				<div class="col-md-6 text-center mx-auto">
					<img src="../img/logo.png" alt="" class="logo">
					<h2 class="extra-bold text-dark mb-4">DashCore</h2>
					<p class="mt-2 mb-0 color-2 small">© 2018
						<a class="brand bold" target="_blank" href="https://5studios.net">5studios.net</a>. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- themeforest:js -->
	<script src="../js/01.cookie-consent-util.js"></script>
	<script src="../js/02.1.cookie-consent-themes.js"></script>
	<script src="../js/02.2.cookie-consent-custom-css.js"></script>
	<script src="../js/02.3.cookie-consent-informational.js"></script>
	<script src="../js/02.4.cookie-consent-opt-out.js"></script>
	<script src="../js/02.5.cookie-consent-opt-in.js"></script>
	<script src="../js/02.6.cookie-consent-location.js"></script>

	<script src="../js/jquery.js"></script>
	<script src="../js/jquery.animatebar.js"></script>
	<script src="../js/jquery.smartWizard.js"></script>
	<script src="../js/odometer.min.js"></script>
	<script src="../js/simplebar.js"></script>
	<script src="../js/swiper.js"></script>
	<script src="../js/popper.js"></script>
	<script src="../js/jquery.easing.min.js"></script>
	<script src="../js/jquery.validate.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/jquery.waypoints.js"></script>
	<script src="../js/jquery.counterup.js"></script>
	<script src="../js/modernizr-2.8.3.min.js"></script>
	<script src="../js/aos.js"></script>
	<script src="../js/particles.js"></script>
	<script src="../js/typed.js"></script>
	<script src="../js/prettify.js"></script>
	<script src="../js/jquery.magnific-popup.js"></script>
	<script src="../js/cookieconsent.min.js"></script>
	<script src="../js/common-script.js"></script>
	<script src="../js/forms.js"></script>
	<script src="../js/site.js"></script>
	<!-- endinject -->
</body>

</html>
